@import 'variables/variables.css';

.ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
    pointer-events: none;
}

.roleName {
    font-size: 10px;
    font-weight: bold;
    line-height: 20px;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    transform: rotate(45deg);
    width: 100px;
    display: block;
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    right: -21px;
}

.roleName::after, .roleName::before {
    content: "";
    position: absolute;
    top: 100%;
    z-index: -1;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}

.roleName::before {
    left: 0px;
    border-left: 3px solid #79A70A;
    border-right: 3px solid transparent;
}

.roleName::after {
    right: 0px;
    border-left: 3px solid transparent;
    border-right: 3px solid #79A70A;
}

.chancellor {
    background: linear-gradient(#CB5B5B 0%, #843636 100%);

    &::after, &::before {
        border-top: 3px solid #843636;
    }

    &::after {
        border-right: 3px solid #843636;
    }

    &::before {
        border-left: 3px solid #843636;
    }
}

.previous {
    background: linear-gradient(#8CCACF 0%, #7C9296 100%);

    &::after, &::before {
        border-top: 3px solid #7C9296;
    }

    &::after {
        border-right: 3px solid #7C9296;
    }

    &::before {
        border-left: 3px solid #7C9296;
    }
}
