{
    "extends": ["airbnb", "plugin:react/recommended"],
    "rules": {
        "indent": ["error", 4, {"SwitchCase": 1}]
    },
    "plugins": [
        "react"
    ],
    "parser": "babel-eslint"
}
