<html>
<head>
    <meta charset="utf-8">
    <title>SecretSzanta</title>
    <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
</head>
<body>
    <div id="root" />

    <script src="dll.vendor.js" type="text/javascript"></script>
    <script src="app.js" type="text/javascript"></script>
</body>
</html>
