@import 'variables/variables.css';

.gameControls {
    display: flex;
    width: 75px;
    height: 100%;
    z-index: 20;
    background-color: var(--uibox-background);
    position: absolute;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 50px;
}

.menuArrowIcon {
    display: inline;
}

.sideButtons {
    display: flex;
    flex-direction: column;
}

