@import 'variables/variables.css';

.submenu {
    background-color: var(--uibox-underbackground);
    right: 0;
    top: 0;
    position: absolute;
    width: 218px;
    height: 100%;
    left: 75px;
    transition: all 0.5s;
    &.hidden {
        left: -300px;
    }
}

.affiliationCards {
    display: flex;
    height: 80%;
}

.card {
    flex-basis: 0;
    flex-grow: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    &:first-child {
        margin-right: 5px; 
    }
}

.liberal {
    background-image: url('../../../static/Liberal_Membership.png');
}

.facist {
    background-image: url('../../../static/Facist_Membership.png');
}

.uiBoxAvatar {
    max-width: unset;
    width: 100%;
}
