@import 'variables/variables.css';

.uiBox {
    position: relative;
    bottom: 0;
    width: 0;
    z-index: 30;
    height: 20%;
    max-height: 200px;
}

.gameControls {
    display: flex;
    width: 75px;
    height: 100%;
    z-index: 20;
    background-color: var(--uibox-background);
    position: absolute;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 50px;
}
.sideButtons {
    display: flex;
    flex-direction: column;
}

.submenu {
    background-color: var(--uibox-underbackground);
    right: 0;
    top: 0;
    position: absolute;
    width: 218px;
    height: 100%;
    left: 75px;
    transition: all 0.5s;
    &.hidden {
        left: -300px;
    }
}

.affiliationCards {
    display: flex;
    height: 80%;
    & .card {
        flex-basis: 0;
        flex-grow: 1;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        &:first-child {
            margin-right: 5px; 
        }
        &.liberal {
            background-image: url('../../static/Liberal_Membership.png');
        }

        &.facist {
            background-image: url('../../static/Facist_Membership.png');
        }
        & .uiBoxAvatar {
            height: 100%;
            & .portrait {
                max-width: unset;
                width: 100%;
                height: inherit;
            }
        }
    }
}
.roleWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 20%;
    align-items: center;
    & .uiBoxRole {
        width: 100%; 
    }
}
