@import 'variables/variables.css';

@keyframes glowing {
    0% { background-color: var(--timer-veto-button-start-bg); box-shadow: 0 0 3px var(--timer-veto-button-start-bg); }
    50% { background-color: var(--timer-veto-button-end-bg); box-shadow: 0 0 10px var(--timer-veto-button-end-bg); }
    100% { background-color: var(--timer-veto-button-start-bg); box-shadow: 0 0 3px var(--timer-veto-button-start-bg); }
}

.timer {
    width: 322px;
    height: 30px;
    display: flex;
    z-index: 0;
    align-items: center;
    right: 0;
    position: absolute;
    bottom: 10%;
    transition: all .3s;
    padding-left: 30px;
    color: var(--timer-font);
    background-color: var(--timer-bg);

    &.visible {
        bottom: 20%;
    }
}

.veto {
    width: 50px;
    animation: glowing 1500ms infinite;
    color: var(--timer-veto-font);
    margin-left: 10px;
}
