$player-image-width: 50%;

.player {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 1 33%;
    
    .portrait {
        max-width: $player-image-width;
    }

    .role {
        max-width: $player-image-width;
    }
}

