$player-image-width: 10vw;
$player-bubble-width: 150px;
$player-bubble-height: 40px;
$player-bubble-radius: 5px;
$player-bubble-triangle-size: $player-bubble-height/2;
$player-bubble-original-position: 85%;
$player-bubble-activated-position: 100%;

.player {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 1 33%;

    .bubble-triangle {
        content: "";
        position: absolute;
        display: block;

        width: 0;
        height: 0;

    }

    .bubble {
        opacity: 0;
        position: absolute;
        z-index: 1;
        padding: 6px;

        width: $player-bubble-width;
        height: $player-bubble-height;
        
        max-width: 10vw;

        background-color: $player-bubble-color;
        transition: all 0.7s; 

        border: 1px solid $player-bubble-color;
        border-radius: $player-bubble-radius;
    }

    .bubble-left {
        @extend .bubble;
        vertical-align: center;
        left: $player-bubble-original-position;
        top: 0px;

        &:before {
            @extend .bubble-triangle;
            right: 95%;

            border-top: $player-bubble-triangle-size solid transparent;
            border-bottom: $player-bubble-triangle-size solid transparent;
            border-right: $player-bubble-triangle-size solid $player-bubble-color;
        }

        &.active {
            opacity: 1;
            left: $player-bubble-activated-position;
        }

    }
    
    .bubble-right {
        @extend .bubble;
        right: $player-bubble-original-position;
        top: 0px;

        &:after {
            @extend .bubble-triangle;
            vertical-align: center;
            left: 95%;

            border-top: $player-bubble-triangle-size solid transparent;
            border-bottom: $player-bubble-triangle-size solid transparent;
            border-left: $player-bubble-triangle-size solid $player-bubble-color;
        }

        &.active {
            opacity: 1;
            
            right: $player-bubble-activated-position;
        }
    }

    .bubble-top {
        @extend .bubble;
        top: $player-bubble-original-position;
        
        &:before {
            @extend .bubble-triangle;

            bottom: 95%;
            border-bottom: $player-bubble-triangle-size solid $player-bubble-color;
            border-right: $player-bubble-triangle-size solid transparent;
            border-left: $player-bubble-triangle-size solid transparent;
        }

        &.active {
            opacity: 1;

            top: $player-bubble-activated-position;
        }
    }

    .role {
        width: $player-image-width;
        max-width: 130px;
    }

    .player-wrapper {
        text-align: center;
        position: relative;
        max-width: $player-image-width;
        &.selectable {
            z-index: 30;
            cursor: pointer;
            border: 1px yellow solid;
            transition: 0.3s filter linear; 

            &:before,
            &:after {
              position: absolute;
              content: "";
              transition: all .25s;
              width: 10%;
              height: 33%;
            }

            &:before {
              border-bottom: 2px solid yellow;
              border-left: 2px solid yellow;
              left: -10px;
              bottom: -10px;
            }

            &:after {
              border-top: 2px solid yellow;
              border-right: 2px solid yellow;
              top: -10px;
              right: -10px;
            }

            &:hover {
                filter: brightness(1.2);
                &:before, &:after {
                    width: 112%;
                    height: 120%;
                }
            }

            * {
                pointer-events: none; 
            }
        }

        .avatar-wrapper {
            position: relative;
            .selecting-wait-icon {
                color: $selecting-wait-icon-color;
                position: absolute;
                right: 5px;
                bottom: 5px;
                font-size: 1.5em;
                animation: breathing 3s ease-out infinite normal;
            }
            &.dead {
                &:before, &:after {
                    position: absolute;
                    content: '';
                    background: $player-cross;
                    display: block;
                    width: 133%;
                    height: 5px;
                    transform: rotate(-49deg);
                    left: -17%;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    z-index: 1;
                }
                &:after {
                    transform: rotate(49deg);
                }
                .portrait {
                    opacity: 0.6; 
                }
            }

            &:hover {
                .portrait {
                    &.facist-portrait {
                        width: 0; 
                    }
                }
            }
            .portrait {

                width: $player-image-width;
                max-width: 130px;
                &.facist-portrait {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    transition: width 0.6s;
                }
            }
        }
    }
}
