.game-list {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;

    .game-list-element {
        height: 60px;
        border: 1px solid $game-list-elements-separator;
        padding: 10px;
        margin: 5px;
        .game-element-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
        }
    }
}