.chat-form {
    width: 100%;
    height: 55px;

    .send-button {
        width: 20%;
        height: 70%;
        background-color: $button-primary-bg;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		color: $button-primary-font-color;
        transition: .05s ease-in;
        &:hover {
            background-color: $button-primary-bg-hover;
            cursor: pointer;
        }
    }
    .send-input {
        height: 70%;
        width: 80%;
        vertical-align: top;
    }
}
