/********************
*       Colors      *
*********************/
$game-room-color: #F0FFFF;
$game-room-font: #191418;
$chat-server-message-font: #B9B9B9;
$chat-message-font: #423B3B;
$chat-box-background: #ECFFFE;

$player-bubble-color: #446677;
$player-cross: #753838;

$modal-background: #f7f7f7;
$modal-close-mark: #3C3939;
$game-list-elements-separator: #999999;
$top-navbar-background: #6495ED;

$uibox-background: #E1F2F1;
$uibox-underbackground: #D2E1E0;

$button-primary-bg: #348AA7;
$button-primary-bg-hover: #267089;
$button-primary-font-color: #EEEEEE;

$button-default-bg: #EEE;
$button-default-bg-hover: #E3E3E3;
$button-default-bg-active: #CCC;
$button-default-font-color: #666;
$button-default-border: rgba(0,0,0,0.3);
$button-default-border-hover: rgba(0,0,0,0.5);
$button-default-border-active: rgba(0,0,0,0.9);

$border-color: #E1E1E1;

$selecting-wait-icon-color: #FFFFFF;

$notification-border-color: #0D47A1;
$notification-information-color: #42A5F5;
$notification-error-color: red;
$notification-close-border-color: #0D47A1;
$notification-close-color: #1E88E5;

$site-font-color: #FFFFFF;

$header-navigation-font-hover: #BCD4EC;

/********************
*       Images      *
*********************/

/********************
*        Misc       *
*********************/
$player-image-width: 10vw;
$player-bubble-width: 150px;
$player-bubble-height: 40px;
$player-bubble-radius: 5px;
$player-bubble-triangle-size: $player-bubble-height/2;
$player-bubble-original-position: 85%;
$player-bubble-activated-position: 100%;

