/********************
*       Colors      *
*********************/
$game-room-font: #191418;
$game-room-start-bg: #3C3838;
$game-room-end-bg: #201D1D;
$chat-server-message-font: #AB9F9F;
$chat-message-font: #423B3B;
$chat-box-background: #D8D9D0;

$player-bubble-color: #446677;
$player-cross: #753838;
$player-avatar-owner-icon: #C51B06;

$landing-page-bg: #272222;

$login-page-bg: #C0C3A2;
$login-page-form-start-bg: #302D2D;
$login-page-form-end-bg: #201D1D;
$login-page-change-name-font: #8A8ADB;
$login-page-change-name-font-hover: #ABABE3;
$login-page-content-bg: #C0C3A2;

$modal-background: #D8D9D0;
$modal-close-mark: #3C3939;
$modal-font: #474242;
$modal-title: #C8C9BE;

$game-list-elements-separator: #999999;
$game-list-first-column-bg: #3F3A3A;
$game-list-element-bg: #D3D5BD;
$game-list-element-border: #8D8282;
$game-list-element-font: #000;

$players-list-bg: #D8D9D0;
$players-list-font: #000;
$players-list-element-border: #999999;
$players-list-category-bg: #D3D5BD;

$choice-overlay-bg: #FFFFFF;

$uibox-background: #D8D9D0;
$uibox-underbackground: #BFC0B5;

$button-primary-bg: #348AA7;
$button-primary-bg-hover: #267089;
$button-primary-font-color: #EEEEEE;

$button-default-bg: #EEE;
$button-default-bg-hover: #E3E3E3;
$button-default-bg-active: #CCC;
$button-default-font-color: #666;
$button-default-border: rgba(0,0,0,0.3);
$button-default-border-hover: rgba(0,0,0,0.5);
$button-default-border-active: rgba(0,0,0,0.9);

$border-color: #E1E1E1;

$selecting-wait-icon-color: #FFFFFF;

$notification-information-color: #5BC0D1;
$notification-error-color: #E96464;
$notification-font: #501717;

$site-font-color: #F3E4E4;

$header-navigation-font-hover: #BCD4EC;
$header-navigation-font-active: #979CA2;

/********************
*       Images      *
*********************/

/********************
*        Misc       *
*********************/
$player-image-width: 10vw;
$player-bubble-width: 150px;
$player-bubble-height: 40px;
$player-bubble-radius: 5px;
$player-bubble-triangle-size: $player-bubble-height/2;
$player-bubble-original-position: 85%;
$player-bubble-activated-position: 100%;

