@import 'variables/variables.css';

@keyframes breathing {
  0% {
    transform: scale(0.8);
  }

  25% {
    transform: scale(0.9);
  }

  60% {
    transform: scale(1);
  }

  80% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(0.8);
  }
}

.avatarWrapper {
    width: var(--player-image-width);
    max-width: 130px;
    position: relative;
    &:hover .fascistPortrait {
        opacity: 0.1; 
    }
}

.portrait {
    width: inherit;
    max-width: inherit;
}

.fascistPortrait {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 0.6s;
    z-index: 1;
}

.selectingWaitIcon {
    color: var(--selecting-wait-icon-color);
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 1.5em;
    z-index: 20;
    animation: breathing 3s ease-out infinite normal;
}
.ownerIcon {
    position: absolute;
    top: -3%;
    left: 9%;
    transform: scale(2.5, 2.5);
    z-index: 20;

    color: var(--player-avatar-owner-icon);
}

.dead {
    &:before, &:after {
        position: absolute;
        content: '';
        background: var(--player-cross);
        display: block;
        width: 133%;
        height: 5px;
        transform: rotate(-49deg);
        left: -17%;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: 2;
    }
    &:after {
        transform: rotate(49deg);
    }
    & .portrait {
        filter: grayscale(100%);
    }
}

