@import './Player/Player.scss';

$elementsWidth: 80%;
$elementsHeight: 300px;

.player-board {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;

    .players-container {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-content: center;
        flex: 1 1 0;

    }

    .central-part {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex: 3 1 0;

        .players-container-middle {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-start;
            align-self: flex-start;
        }

        .policy {
            position: relative;
            display: flex;
            justify-content: center;


            img {
                max-width: $elementsWidth;
                max-height: $elementsHeight;
            }

        }

        .policy-card {
            position: absolute;
            display: flex;
            height: $elementsHeight;
            width: $elementsWidth;
            flex-direction: row;
            justify-content: flex-start;
            align-items:  center;

            img {
                margin: 0 0.32%;
                height: 55%;
                width: 13.5%;
            }
        }

        .policy-card-liberal {
            @extend .policy-card;
            left: 22%;
        }

        .policy-card-fascist {
            @extend .policy-card;
            left: 16.5%;
        }

    }

}


