.chancellor-choice-modal {
    height: 600px;
    .choice-introduction {
        width: 100%;
        text-align: center;
    }

    ul {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 47% 47%;
        grid-gap: 10px 15px;
        padding: 20px 0px 0px 20px;

        .chancellor-candidate-container {
            display: flex;
            align-items: center;
            background-color: #DBE4DB;
            transition: all .2s ease-in-out;
            &:hover {
                transform: scale(1.05);
                background-color: #CBD8CB;
            }
            .chancellor-candidate-photo {
                height: 80px;
                width: 60px;
                padding-right: 15px;
            }
        }
    }



}