@import 'variables/variables.css';

.notifications {
    z-index: 60;
    position: fixed;
}

.notificationPanel {
    position: relative;
    width: 50vw;
    left: 25vw;
    height: 30px;
    border-radius: 5px;
    margin: 10px 0px;
    padding-left: 10px;
    padding-top: 10px;
    color: var(--notification-font);
}

.info {
    background-color: var(--notification-information-color);
}

.error {
    background-color: var(--notification-error-color);
    color: var(--notification-font);
}

.status {
    margin: 0;
    padding-top: 5px;
    border-radius: 0px 0px 5px 5px;

    background-color: var(--notification-status-color);
    text-align: center;
}

.exit {
    position: absolute;
    top: 25%;
    right: 5px;

    color: black;
    text-align: center;
}
