@import 'variables/variables.css';

.notifications {
    z-index: 60;
    position: fixed;
}

.notificationPanel {
    position: relative;
    width: 50vw;
    left: 25vw;
    height: 30px;
    border-radius: 5px;
    background-color: var(--notification-information-color);
    margin: 10px 0px;
    padding-left: 10px;
    padding-top: 10px;

    &.error {
        background-color: var(--notification-error-color);
        color: var(--notification-font);
    }
}

.exit {
    position: absolute;
    top: 25%;
    right: 5px;

    color: black;
    text-align: center;
}
