.notifications {
    z-index: 60;
    position: fixed;
}

.notification-panel {
    position: relative;
    width: 50vw;
    left: 25vw;
    height: 30px;
    border-radius: 5px;
    background-color: $notification-information-color;

    margin: 10px 0px;

    padding-left: 10px;
    padding-top: 10px;

    &.error {
        background-color: $notification-error-color;
        color: $notification-font;
    }

    &-exit {
        position: absolute;
        top: 25%;
        right: 5px;

        color: black;
        text-align: center;
    }
}
