.curtain {
    overflow: hidden;
    width: 80%;
    height: 75.8%;
    position: absolute;
    display: flex;
    justify-content: center;

    .curtain__wrapper {
        overflow: hidden;
        width: 85.5%;
        height: 78%;
        align-self: flex-end;
    }

    .curtain__panel {
        width: 50%;
        height: 100%;
        float: left;
        position: relative;
        z-index: 2;
        transition: all 1s ease-out;
    }

    &.curtain__panel--fascist {
        height: 73.8%;
        .curtain__panel {
            background-color: #79040A; 
            border-width: 10px;
            border-color: transparent;
            background-clip: padding-box;
        }
    }

    &.curtain__panel--liberal {
        .curtain__panel {
            background-color: #063F56; 
        }
        .curtain__wrapper {
            height: 79%;
            width: 80.6%;
        }
    }

    .curtain__panel--left {
        transform: translateX(0);
        border-right: none;
        &.hidden {
            transform: translateX(-150%);
        }
    }

    .curtain__panel--right {
        transform: translateX(0);
        border-left: none;
        &.hidden {
            transform: translateX(150%);
        }
    }

    .curtain__prize {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
    }
}

