.curtain {
    overflow: hidden;
    width: 80%;
    height: 75.8%;
    position: absolute;
    display: flex;
    justify-content: center;

    .curtain__wrapper {
        overflow: hidden;
        width: 85.5%;
        height: 78%;
        display: flex;
        align-self: flex-end;
    }

    .curtain__panel {
        width: 50%;
        height: 100%;
        float: left;
        position: relative;
        z-index: 2;
        transition: all 2s ease-in;
        border-width: 2px;
        border-color: rgba(0,0,0,.5);
        background-clip: padding-box;
    }

    &.curtain__panel--fascist {
        height: 73.8%;
        .curtain__panel {
            background-color: #79040A; 
            background-image: url("../static/curtain.png");
        }
    }

    &.curtain__panel--liberal {
        .curtain__panel {
            background-color: #063F56; 
            background-image: url("../static/curtain.png");
            filter: brightness(50%) sepia(1) hue-rotate(160deg) saturate(200%) brightness(330%)
        }
        .curtain__wrapper {
            height: 79%;
            width: 80.6%;
        }
    }

    .curtain__panel--left {
        transform: translateX(0);
        border-right-style: solid;
        &.hidden {
            transform: translateX(-150%) rotateY(180deg);
        }
    }

    .curtain__panel--right {
        transform: translateX(0) rotateY(180deg);
        border-left-style: solid;
        &.hidden {
            transform: translateX(150%);
        }
    }

    .curtain__prize {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
    }
}

