.players-list {
    height: unset;
    flex-grow: 1;
    overflow: auto;
    background-color: $players-list-bg;
    margin-top: 5px;
    padding: 0 10px 10px 10px;
    color: $players-list-font;

    .category {
        text-align: right;
        height: 20px;
        border-bottom: 1px solid $players-list-element-border;
        margin-left: -10px;
        margin-right: -10px;
        padding-top: 5px;
        background-color: $players-list-category-bg;

        > span {
            margin-right: 5px;
            font-size: 13px;
        }
    }
    .player-row {
        position: relative;
        display: flex;
        align-items: center;
        padding: 3px;
        border-bottom: 1px solid $players-list-element-border;
        .avatar {
            height: 30px;
            width: 30px;
            border-radius: 50px;
            display: none;
            @include respond-to(medium) { 
                display: initial; 
            }
        }
        .player-name {
            margin: 0 10px;
            max-width: 70%;

            @include respond-to(medium) { 
                display: initial;
                max-width: 50%;
            }
        }
        .room-name {
            font-size: 12px;
            max-width: 33%;
            position: absolute;
            right: 0px;
            display: none;
            @include respond-to(medium) { 
                display: initial;
            }

            &.mobile {
                display: unset;
                @include respond-to(medium) { 
                    display: none;
                }
            }
            .room-name-text {
                font-size: 13px; 
            }
        }
    }
}
