.players-list {
    width: 30%;
    height: 500px;
    background-color: #D8D9D0;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0 10px 10px 10px;
    color: #000000;

    .category {
        text-align: right;
        height: 20px;
        border-bottom: 1px solid #999999;
        margin-left: -10px;
        margin-right: -10px;
        padding-top: 5px;
        background-color: #D3D5BD;

        > span {
            margin-right: 5px;
            font-size: 13px;
        }
    }
    .player-row {
        display: flex;
        align-items: center;
        padding: 3px;
        border-bottom: 1px solid #999999;
        .avatar {
            height: 30px;
            width: 30px;
            border-radius: 50px; 
        }
        > span {
            margin-left: 10px; 
        }
        .room-name {
            position: absolute;
            right: 30px;
            .small-font {
                font-size: 12px; 
            }
        }
    }
}
