.login-page {
    background-color: #C0C3A2;
    .login-form-container {
        height: 700px;
        background: radial-gradient(#302D2D, #201d1d);
	clip-path: polygon(
	    0 0, /* left top */
	    100% 0, /* right top */ 
	    100% 45%, /* right bottom */
	    0 100% /* left bottom */
	);
        .login-form {
            margin-left: 20%;
            padding-top: 150px;
            .login-input-group {
                display: flex; 
            }

	    .form-text {
		max-width: 300px;
	    }

            .user-name {
                font-weight: 700; 
            }
            .change-nickname {
                cursor: pointer;
                color:#8A8ADB;
                transition: all .3s;
                &:hover {
                    color: #ABABE3;
                }
            }

        }
    }


    .home-content {
        background-color: #C0C3A2;
        height: 1000px;
    }
    .home-image-large {
        position: absolute;
        top: 315px;
        right: 100px;
        max-height: 250px;
        max-width: 150px;
        transform: rotate(-16deg);
        z-index: 1;
        box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75);

        @include respond-to(medium) { 
            top: 195px;
            max-height: 400px;
            max-width: 300px;
        }
    }
    .home-image-small {
	position: absolute;
	top: 450px;
	right: 180px;
        max-height: 200px;
        max-width: 100px;
	-webkit-transform: rotate(-16deg);
	transform: rotate(-16deg);
	box-shadow: -10px 10px 5px 0px rgba(0, 0, 0, 0.75);

        @include respond-to(medium) { 
            max-height: 300px;
            max-width: 200px;
            top: 400px;
            right: 250px;
        }
    }
}


